@model IEnumerable<RapidDoc.Models.ViewModels.CompanyView>

@foreach (var item in Model) {
    <li>@Html.ActionLink(item.CompanyName, "ChangeCompany", new { companyId = item.AliasCompanyName, returnUrl = this.Request.RawUrl }, null)</li>
}

