@model IEnumerable<RapidDoc.Models.ViewModels.ProcessView>

<div class="row">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-4">
                <a href=@Url.Action("Create", "Document", new { id=item.Id }) class="thumbnail tile">
                    <h4>@item.ProcessName</h4>
                    <p class="tile-description"><em>@item.Description</em></p>
                </a>
            </div>
        }
    }
    else
    {
        <div class="col-md-4">
            <p class="tile-description"><em>@UIElementRes.UIElement.NoItems</em></p>
        </div>
    }
</div>
