<br>
    <p>
        <input class="btn btn-primary btn-sm" type="submit" value=@UIElementRes.UIElement.Save />
        @Html.ActionLink(UIElementRes.UIElement.Back, "Index", null, new { @class = "btn btn-default btn-sm" })
    </p>
