@model IEnumerable<RapidDoc.Models.ViewModels.RoleViewModel>

@foreach (var item in Model)
{
    <p><a href="#" class="distributiongrouplink_@ViewBag.PrefixOfficeMemo" data-dismiss="modal" data-itemid="@item.Id" data-rolename="@item.Description.Replace(",", " ")">@item.Description</a></p>
}

