@model IEnumerable<RapidDoc.Models.DomainModels.USR_TAS_DailyTasks_Table>

@if (Model.Count() > 0)
{
    <div class="hidden-print">
        <a data-toggle="collapse" href="#collapseTask" aria-expanded="false" aria-controls="collapseTask">@UIElementRes.UIElement.RelatedTasks</a>
        <div class="collapse" id="collapseTask">
            <div class="well">
                @foreach (var item in Model)
                {
                    <p>@Html.ActionLink(item.DocumentTable.DocumentNum, "ShowDocument", "Document", new { id = item.DocumentTableId, isAfterView = true }, null)</p>
                }
            </div>
        </div>
    </div>
 }


