@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = UIElementRes.UIElement.PageNotFound;
}

<div class="jumbotron">
    <div class="container">
        <h1>@UIElementRes.UIElement.PageNotFoundTitle</h1>
        <p>@UIElementRes.UIElement.PageNotFoundText <strong>@Html.ActionLink("DOCFLOW", "Index", "Home")</strong></p>
    </div>
</div>