@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = UIElementRes.UIElement.PageNotFound;
}
<br>
<br>
<br>
<div class="jumbotron">
    <div class="container">
        <h2>@UIElementRes.UIElement.Withdrawn</h2>
        <p><strong>@Html.ActionLink("DOCFLOW", "Index", "Document")</strong></p>
    </div>
</div>