@{
    ViewBag.Title = UIElementRes.UIElement.Monitoring;
}
<h1>@UIElementRes.UIElement.Monitoring: ИТ служба за 30 дней</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <canvas id="canvasBar" height="450" width="600"></canvas>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <canvas id="canvasPie" width="300" height="300"></canvas>
        </div>
        <div class="col-md-6">
            <div id="legend"></div>
        </div>
    </div>
</div>
<style type="text/css">
    .pie-legend li span {
        width: 1em;
        height: 1em;
        display: inline-block;
        margin-right: 5px;
    }

    .pie-legend {
        list-style: none;
    }
</style>



@section Scripts {
    @Scripts.Render("~/bundles/chart")
}
@section jslaunch {

    $.getJSON('@Url.Action("PerformanceDepartment", "Monitoring")', null).done(function(data) {	   
      
    
    var barChartData = {
		    labels : data.barLabels,
		    datasets : [
			    {
				    fillColor : "#46BFBD",
				    strokeColor : "#46BFBD",
				    "#F7464A": "rgba(220,220,220,0.75)",
				    highlightStroke: "rgba(220,220,220,1)",
				    data : data.barDataCount
			    },
			    {
				    fillColor : "#F7464A",
				    strokeColor : "#F7464A",
				    highlightFill : "rgba(151,187,205,0.75)",
				    highlightStroke : "rgba(151,187,205,1)",
				    data : data.barDataErrorCount
			    }
		    ]
	    }

    var pieData = [
				{
					value: data.pieOpenCountListValue,
					color: "#4D5360",
					highlight: "#A8B3C5",
					label: "Открытые не просроченные"
				},
				{
					value: data.pieOpenCountErrorListValue,
					color: "#F7464A",
					highlight: "#F7464A",
					label: "Открытые просроченные"
				}
			];
    var ctxBar = document.getElementById("canvasBar").getContext("2d");
        window.myBar = new Chart(ctxBar).Bar(barChartData, {
			    responsive : true
        });
            
    var ctxPie = document.getElementById("canvasPie").getContext("2d");
	window.myPie = new Chart(ctxPie).Pie(pieData);
    
    document.getElementById('legend').innerHTML = myPie.generateLegend();
    var legend = myPie.generateLegend();
    $("#legend").html(legend);			 
        
    });
}

