@*
  <copyright file="_WindowsLoginPartial.cshtml" auther="Mohammad Younes">
    Copyright 2013 Mohammad Younes.
    Released under the MIT license
    http://opensource.org/licenses/MIT
  </copyright>
*@
@using Microsoft.Owin.Security

<div class="">
    <h4>@UIElementRes.UIElement.UseWindowsAuthentication</h4>
    <hr />
    <div>
        @using (Html.BeginWindowsAuthForm(new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            <button class="btn btn-default" type="submit"><i class="fa fa-windows"></i> Windows</button>
        }
    </div>
    <br />
</div>