/*GLOBAL*/
html, body {
    height: 100%;
    background-color: #F1F1F1;
}

.body-content {
    margin-top: 5px;
    background-color: #FFFFFF;
    min-height: 100%;
}

a:hover {
    text-decoration: none !important;
}
a {
  color: #008cba;
}
a:hover,
a:focus {
  color: #008cba;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #008cba;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #008cba;
}

p {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.container {
    max-width: 100%;
}

.datepicker table tr td span, .datepicker td, .datepicker th, select, .alert, .table-bordered,
.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child, .table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child,
.btn, textarea input[type="text"],
input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], .uneditable-input, .cke_dialog_ui_button_ok, .panel, .form-control,
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input,
.panel-heading, .input-group-addon, .bootstrap-tagsinput, .label, .thumbnail, .panel-footer, .modal-content{
    -ms-border-radius: 0 0 0 0 !important;
    border-radius: 0 0 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -ms-text-shadow: none !important;
    -webkit-text-shadow: none !important;
    text-shadow: none !important;
}

/*Footer*/
footer {
    margin-top: 25px;
    padding-top: 15px;
}
.panel-footer {
  background-color: #2c3e50;
  color: #ffffff;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 2px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.required
{
    color: red;
}

/*Tags*/
.bootstrap-tagsinput {
  background-color: #fff;
  border: 2px solid #bdc3c7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 6px 6px;
  color: #555;
  vertical-align: middle;
  max-width: 100%;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput:hover {
  border: 2px solid #1abc9c;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.bootstrap-tagsinput { width: 100%; }

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.twitter-typeahead .hint-small
{
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
	height: 45px;
	padding: 10px 16px;
	font-size: 18px;
	border-radius: 6px;
    line-height: 1.33;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #FFF;
  background-color: #34495E;
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
  white-space:nowrap;
}
.bts-tags{
    font-size: 12px;
}

/* THUMBNAIL */
.thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #2980B9;
}

/* QRCODE */
#qrcode{
    padding: 5px;
    border: 1px solid #bdc3c7;
}

/* TABLE */
.actionField
{
    width: 32px;
}
.sortable {
    cursor: pointer;
}

.rowNum{
    font-size: 120%;
}
.cellAligmentMiddle{
    vertical-align: middle;
    display: inline-block;
}
.table > thead > tr > td.allocation,
.table > tbody > tr > td.allocation,
.table > tfoot > tr > td.allocation,
.table > thead > tr > th.allocation,
.table > tbody > tr > th.allocation,
.table > tfoot > tr > th.allocation,
.table > thead > tr.allocation > td,
.table > tbody > tr.allocation > td,
.table > tfoot > tr.allocation > td,
.table > thead > tr.allocation > th,
.table > tbody > tr.allocation > th,
.table > tfoot > tr.allocation > th {
  font-weight:bold;
}

/*Navbar*/
.navbar-nav > li > a {
  color: #FFFFFF !important;
  border-bottom: 3px solid transparent;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  border-bottom: 3px solid #008cba;
}

.nav-tabs > li > a {
  border-bottom: 3px solid transparent;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-bottom: 3px solid #008cba;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555555;
  background-color: #008cba;
}

.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle {
  border-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1ABC9C;
  border-color: #FFFFFF;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF !important;
    }
}

.dropdown-header {
  color: #BDC3C7;
}

.navbar .nav li.dropdown > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown > .dropdown-toggle:focus .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 8px;
  border-bottom-color: #4c6a89;
  border-top-color: #4c6a89;
  margin-left: 10px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #34495E;
}

.labelTitle{
    font-size: 50%;
    vertical-align: top;
    display: block;
    background-color: #b2bcc5;
    text-align: right;
}

.form-control:-moz-placeholder {
  color: #b2bcc5;
}
.form-control::-moz-placeholder {
  color: #b2bcc5;
}
.form-control:-ms-input-placeholder {
  color: #b2bcc5;
}
.form-control::-webkit-input-placeholder {
  color: #b2bcc5;
}
.form-control.placeholder {
  color: #b2bcc5;
}
.form-control {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 8px 12px;
  height: 42px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.form-group.focus .form-control,
.form-control:focus {
  border-color: #1abc9c;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
}
.form-control.flat {
  border-color: transparent;
}
.form-control.flat:hover {
  border-color: #bdc3c7;
}
.form-control.flat:focus {
  border-color: #1abc9c;
}

.form-control-date {
    width: 20%;
    display: inline-block;
}

.btn {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}
.btn-hg {
  padding: 13px 20px;
  font-size: 22px;
  line-height: 1.227;
}
.btn-lg {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}
.btn-sm {
  padding: 9px 13px;
  font-size: 13px;
  line-height: 1.385;
}
.btn-xs {
  padding: 6px 9px;
  font-size: 12px;
  line-height: 1.083;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.bs-callout-warning h4 {
  color: #8a6d3b;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4 {
  color: #34789a;
}

fieldset {
    min-width: 100%;
}

#calendar {
    width: 900px;
    margin: 0 auto;
}

.calendarSelected {
    background-color: #3276b1;
    color: #ffffff;
}

.topButton {
    color: #ffffff;
}

div #loading {
    text-align: center;
}

.tile {
    min-height: 150px;
}

.freeControl {
  width: auto;
  min-width: 30%;
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-size: 15px;
  height: 42px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.editor-label {
    padding-top: 5px;
}

.table-bordered-bold {
  border: 1px solid #34495E;
}
.table-bordered-bold > thead > tr > th,
.table-bordered-bold > tbody > tr > th,
.table-bordered-bold > tfoot > tr > th,
.table-bordered-bold > thead > tr > td,
.table-bordered-bold > tbody > tr > td,
.table-bordered-bold > tfoot > tr > td {
  border: 1px solid #34495E;
}

.featurette-divider {
  margin: 30px 0;
}
.featurette-heading {
  color: inherit;
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.breadcrumb {
  border-radius: 0;
}

table.grid-table .grid-header > .grid-header-title { width: 100%; margin-right: 25px; white-space: nowrap; margin-top: 2px; }
table.grid-table .grid-header.empty > .grid-header-title {
    margin-right: 0px;
}

.tile-description {
    color: #898989;
}

.tile > .tile-description {
    position:absolute;
    bottom:15px;
    padding-right: 20px;
}

.grid-table {
    border: 3px solid #F1F1F1;
}

@media screen and (max-width: 1920px) {
  .table-responsivelarge {
    width: 100%;
    margin-bottom: 15.75px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ecf0f1;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsivelarge > .table > thead > tr > th,
  .table-responsivelarge > .table > tbody > tr > th,
  .table-responsivelarge > .table > tfoot > tr > th,
  .table-responsivelarge > .table > thead > tr > td,
  .table-responsivelarge > .table > tbody > tr > td,
  .table-responsivelarge > .table > tfoot > tr > td {
    white-space: nowrap;
  }
}

@media print {
    * { margin: 0 !important; }
    html, body {
        background: #FFF; 
        font-size: 10pt;
    }

    a[href]:after {
        content: none !important;
    }
}

a.thumbnaillist:hover,
a.thumbnaillist:focus {
  border-color: #000;
}

.modal-sidebar {
    margin-left: 0;
    font-size: small;
    margin-top: 0;
    padding: 0;
}

.checkbox-inline > input.labelauty + label
{
	display: inline;
	padding: 8px;
}