@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_AddOrChangeTemplate_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)
<br>
<div class="alert alert-info" role="alert">
    <p>
        <strong>Нужно обязательно прикрепить тех. задание в заявке. В тех. задании необходимо четко указать:</strong>
        <ol>
            <li>Наименование полей для обязательного заполнения инициаторов запроса;</li>
            <li>Маршрут согласования;</li>
            <li>Фамилию исполнителя запроса.</li>
        </ol>
    </p>
</div>

