@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_HardSoftwareMaintenance_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.HardSoftwareMaintenance)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.HardSoftwareMaintenance, new { @disabled = true })
</div>
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Description)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Description)
</div>