@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_CreateUserAD_View
@{
    Model.ActiveDirectory = true;          
}
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)
<br>
<div class="alert alert-info" role="alert">
    <p>Нужно обязательно прикрепить фотографию(формат 3x4) в заявке</p>
</div>