@model RapidDoc.Models.ViewModels.USR_REQ_SK_RequestForRegContactNonresident_View

@Html.Partial("_DocumentEditFields", Model)

<hr />
<div class="alert alert-info" role="alert">
    <p>Необходимые документы:</p>
    <p>1. Сканированный оригинал документа необходимого принять на регистрацию на ВК (основного контракта, доп. Соглашение, приложение), подписанный обеими сторонами. (Печати и подписи в оригинале);</p>
    <p>2. Лист согласования контракта, доп. соглашения, приложения (отдельно приложить);</p>
    <p>3. Оригинал справки с полными банковскими реквизитами, завершенной подписью и печатью Поставщика/клиента, либо оригинал письма от Банка;</p>
    <p>4. Правоустанавливающие документы по Поставщику/Клиенту.</p>
</div>