@model RapidDoc.Models.ViewModels.USR_REQ_YT_PassangerTransportTrip_View
@using RapidDoc.Extensions;

<h4 class="text-info">Прошу выделить пассажирский транспорт:</h4>
@Html.Partial("_DocumentEditFields", Model)
<hr />
<h5 class="text-danger">Важно: Заявки необходимо формировать до 16:00ч.</h5>