@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForPrepayMaster_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)

<br>
<div class="alert alert-info" role="alert">
    <p>*Инициатор вкладывает заявление и программу производственного обучения скан-копии.</p>
</div>
