@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_HardSoftwareMaintenance_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.HardSoftwareMaintenance)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.HardSoftwareMaintenance, new { @class = "selectpicker" })
</div>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Description)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Description, new { @class = "form-control", @rows = "5", placeholder = "Описание", @autofocus = "required" })
</div>