@model RapidDoc.Models.ViewModels.USR_REQ_IT_ERP_RequestPermissionAccountingDAX_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.RequestText)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.RequestText, new { @class = "form-control", @rows = "5", placeholder = "На что требуется доступ", @autofocus = "required" })
</div>
<div>
    @Html.LabelForRequired(model => model.Users);
</div>
<div>
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>