@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_CreateUserADFreelance_View
@{
    Model.ActiveDirectory = true;          
}
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)
<br>
<div class="alert alert-info" role="alert">
    <p>
        Примечание:
        После окончания срока действия учетная запись будет автоматически заблокирована.
    </p>
</div>