@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_RemoveSignLotus_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)
<div>
    <p>
        <em>Примечание:</em>
    </p>
    <ul>
        <li>
            <em>инициировать данный запрос может только автор удаляемого документа.</em>
        </li>
        <li>
            <em>в базе &laquo;Заявки&raquo; и &laquo;СВД&raquo; нет возможности удаления подписи.</em>
        </li>
    </ul>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.datepicker').datepicker(); //Initialise any date pickers
    </script>
}