@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForReductionCandidate_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Department)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Period)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Period)
</div>
