@model RapidDoc.Models.ViewModels.USR_REQ_ZIF_RequestForFuel_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Подразделение" })
</div>
<hr />
<div class="alert alert-info" role="alert">
    <p>Важно: Заявки необходимо формировать до 16:00ч.</p>
</div>

