@model RapidDoc.Models.ViewModels.USR_REQ_UKR_RequestForExpertiseDepartment_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserExecutive)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserExecutive, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "ИД пользователя", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>