@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_ChangeOrderWage_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)
<br>
<div class="alert alert-info" role="alert">
    <p><strong>Примечание: Данный запрос может инициировать только автор редактируемого приказа.</strong></p>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.datepicker').datepicker(); //Initialise any date pickers
    </script>
}