@model RapidDoc.Models.ViewModels.USR_REQ_OKS_RequestForTranslateKAZ_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)
<hr />
<div>
    <p>
        <em>При выборе высокой приоритетности необходимо указать точное и достоверное обоснование(причину) срочности</em>
    </p>
    <ul>
        <li>
            <em>Срок выполнения заявки(без учета высокой приоритетности) - не менее 1 (одного) рабочего дня с момента подписания руководителем сектора переводов</em>
        </li>
        <li>
            <em>Если ранее осуществлялся перевод одной из версий запрашиваемого документа, то необходимо вложить предыдущие версии, как на русском, так и на английском языке</em>
        </li>
    </ul>
</div>