@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_CreateUserLync_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.InternalPhone)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.InternalPhone, new { @class = "form-control", @rows = "1", placeholder = "Внутренний телефон", @autofocus = "required" })
</div>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Берик Серикович" })
</div>