@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForKindergarten_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)

<hr />
<div class="alert alert-info" role="alert">
    <p>*Вложить: 1. Копии удостоверения личности родителей 2. Свидетельство о рождении ребенка</p>
</div>