@model RapidDoc.Models.ViewModels.USR_REQ_OKS_RequestForPrintBlank_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DateAndNumber)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DateAndNumber, new { @class = "form-control", placeholder = "Номер и дата приказа", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Purpose)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Purpose, new { @class = "form-control", @rows = "5", placeholder = "Причина запроса" })
</div>

