@model RapidDoc.Models.ViewModels.USR_REQ_YT_PassangerTransportTripATK_View
@using RapidDoc.Extensions;

<h4 class="text-info">Прошу выделить пассажирский транспорт:</h4>
@Html.Partial("_DocumentEditFields", Model)
<hr />
<h4 class="text-info">Для заполнения водителю:</h4>
<h5>Показания одометра на начало поездки________________</h5>
<h5>Показания одометра на конец поездки_________________</h5>
<h5>Количество полученных талонов______________________</h5>
<h5>Подпись водителя __________________________________</h5>
<br />
<h4 class="text-info">ПРИМЕЧАНИЕ:</h4>
<h5 class="text-danger">Транспорт предоставляется при наличии договора или контракта, где указано о предоставление транспорта</h5>
<h5 class="text-danger">В случае заказа транспорта без договора, по ходатайству инициатора, затраты будут относиться на Цех инициатора</h5>
<h5 class="text-danger">Запрещено ОТКЛОНЯТЬСЯ ОТ МАРШРУТА</h5>