@model RapidDoc.Models.ViewModels.USR_REQ_YT_AuxiliaryTransportDayOff_View
@using RapidDoc.Extensions;

<h4 class="text-info">Прошу выделить вспомогательную технику:</h4>
@Html.Partial("_DocumentEditFields", Model)