@model RapidDoc.Models.ViewModels.USR_REQ_JU_RequestForNPA_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)

<hr />
<div class="alert alert-info" role="alert">
    <p>Комментарии: Срок предоставления НПА не менее 1 рабочего дня с момента получения заявки исполнителем.</p>
</div>
