@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTS_DeliveryOfService_View
@using RapidDoc.Extensions;


<div class="editor-label">
    @Html.LabelFor(model => Model.RequestText)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.RequestText)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ServiceList)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceList, new { @disabled = true })
</div>