@model RapidDoc.Models.ViewModels.USR_REQ_HY_BookingRoom_View
@using RapidDoc.Extensions;

<hr />
<h4 class="text-info">Прошу произвести бронирование номера для:</h4>

@Html.Partial("_DocumentEditFields", Model)
