@model RapidDoc.Models.ViewModels.USR_REQ_YT_RequestForStandbyTransportUZL_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentEditFields", Model)
<hr />
<h5>Время выезда/подпись диспетчера_________________________</h5>
<h5>Время заезда/подпись заказчика__________________________</h5>
<br />
<h6 class="text-danger">*Контроль использования транспортного средства ведется системой "Автограф" (превышение скоростного режима или отклонение от маршрута)</h6>
<h6 class="text-danger">*Выезд по заявке с терминала</h6>