@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTP_InstallSoftware_View
@using RapidDoc.Extensions;


<div class="editor-label">
    @Html.LabelForRequired(model => Model.Software)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Software, new { @class = "form-control", @rows = "3", placeholder = "Программное обеспечение", @autofocus = "required" })
</div>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>